[Backends]
  [Backends.backend1]
    [Backends.backend1.Servers]
      [Backends.backend1.Servers.server1]
        URL = "http://60.205.130.2:8081"
        Weight = 0
    [Backends.backend1.LoadBalancer]
      Method = "wrr"
      Sticky = false
  [Backends.backend2]
    [Backends.backend2.Servers]
      [Backends.backend2.Servers.server1]
        URL = "http://60.205.130.2:8083"
        Weight = 0
    [Backends.backend2.LoadBalancer]
      Method = "wrr"
      Sticky = false

[Frontends]
  [Frontends.frontend1]
    EntryPoints = ["a"]
    Backend = "backend1"
    PassHostHeader = false
    Priority = 0
  [Frontends.frontend2]
    EntryPoints = ["b"]
    Backend = "backend2"
    PassHostHeader = false
    Priority = 0
  [Frontends.frontend3]
    EntryPoints = ["b"]
    Backend = "backend2"
    PassHostHeader = false
    Priority = 0
